table{
    width: 100%;
    height: 98vh;
    background-color: white;
    border-collapse: collapse;
}
tr{
    height: 100px;
}

td{
    width: 10%;
}
a{
    color: black;
}

.center{
text-align: center;
font-size: 3em;
}
#cabeca{
    background-color:aqua; 
    font-size: 1.5rem;
}
#Cadastro{
    color: blue;
}